body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000;
}

a {
    color: #007BFF;
    text-decoration: none;
    display: block;
    text-align:center;
}

a:hover {
    text-decoration: underline;
}

form {
    background: #ffffff;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
input[type="submit"]{
    background: #0968c2;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}

button {
    background: #0968c2;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}

button:hover {
    background: #042849;
}

.alert {
    background: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 3px;
    margin-bottom: 10px;
}
